[modern]
Firefox >= 108
Safari >= 16
Opera >= 93
iOS >= 16
Samsung >= 18
Chrome >= 108
Edge >= 108
ChromeAndroid >= 108

[legacy]
>1%
last 2 versions
not dead
ie 10
ie 11
Safari 13
Safari 12
iOS 13
iOS 12