[modern]
Chrome >= 94
Firefox >= 93
Safari >= 14
Opera >= 79
Edge >= 94
iOS >= 14
Samsung >= 15
ChromeAndroid >= 94

[legacy]
>1%
last 2 versions
not dead
ie 10
ie 11
Safari 13
Safari 12
iOS 13
iOS 12