###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
/.idea

/stat/

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
###< symfony/webpack-encore-bundle ###

/public/images/photos
