<footer class="container section-wrapper">
  <div class="imprint section">
    <p class="strong">
      keinegrenzen.org<br>
      Gemeinn&uuml;tziges Musikprojekt
    </p>
    <p>
      Barth&eacute;l&eacute;my Bonhomme<br>
      Hans-Böckler-Straße 28<br>
      53225 K&ouml;ln<br>
      Deutschland<br>
      E-Mail:
      <a
        href="mailto:kontakt@keinegrenzen.org"
        title="Kontakt aufnehmen"
      >
        kontakt@keinegrenzen.org
      </a>
      <br>
      Tel:
      <a
        href="tel:+4917630594643"
        title="Kontakt aufnehmen"
      >
        +49 176 30594643
      </a>
      <br>
      <a
        href="#CCM.openWidget"
        tabindex="0"
        aria-label="Zustimmung ändern"
      >
        Cookies
      </a>
      <br>
    </p>
  </div>
  <div class="notices section">
    <p class="copyright">
      &copy; 2016-{{ "now"|date("Y") }} Barth&eacute;l&eacute;my Bonhomme
    </p>
    <p class="open-source">
      <a
        href="https://github.com/keinegrenzen-org"
        target="_blank"
        rel="nofollow noopener"
      >
        keinegrenzen ist open source!
      </a>
      <br/>
      <a
        href="https://github.com/keinegrenzen-org"
        target="_blank"
        rel="nofollow noopener"
      >
        <img
          alt="GitHub followers"
          src="https://img.shields.io/github/followers/keinegrenzen-org.svg?style=social"
        >
      </a>
      <br/>
      Hilf uns, etwas großartiges zu erschaffen.
    </p>
    <p class="origin">
      Mit
      <span>
        <img
          class="icon"
          src="{{ asset('images/smile.svg') }}"
          title="Leidenschaft"
          alt="Smileyface"
        >
        <i class="sr-only">Leidenschaft</i>
      </span> entwickelt in K&ouml;ln
    </p>
  </div>
</footer>
