@import "components/variables";
@import "components/mixins";

$primary: $theme-blue;
$secondary: $theme-red;
$success: #2dfa2d;
$info: $theme-blue;
$warning: #e3e329;
$danger: $theme-red;
$table-bg-level: -5;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/utilities";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 2rem 5rem;
}

footer {
  a {
    color: $theme-white;
  }
}

header {
  background-color: $theme-red;
  padding: 1rem;

  a {
    color: $theme-white;
    font-family: "League Gothic", sans-serif;
    font-size: 2rem;

    &:hover {
      color: $theme-white;
    }
  }
}

.stats {
  width: 100%;
}
