@import 'components/variables';
@import 'components/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/tables';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 2rem 5rem;
}

footer {
  display: flex;
  margin-top: auto;
}