@import 'components/variables';
@import 'components/fonts';
@import 'components/mixins';
@import '~sticky-state/src/sticky-state.css';

$break-medium: 992px;
$break-small: 420px;
$nav-height: 75px;

html,
body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  max-width: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

a {
  color: $theme-white;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'League Gothic', sans-serif;
  font-weight: $font-weight-regular;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

p {
  margin: 0;

  @media screen and (max-width: $break-small) {
    font-size: 1.2rem;
  }
}

.container {
  width: 100%;
}

.section-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .section {
    width: 50%;

    @media screen and (max-width: $break-medium) {
      width: 100%;
    }
  }

  @media screen and (max-width: $break-medium) {
    flex-direction: column;
  }
}

.fitti {
  display: inline-block;
  white-space: nowrap;
}

.fixed-nav {
  height: $nav-height;
  left: 0;
  position: sticky;
  top: 0;
  z-index: 1005;

  .contact-icon {
    display: block;
    height: 75px;
    padding: 1rem;
    width: 75px;
  }

  .contact-button {
    align-items: center;
    display: flex;
    font-family: "Fivo Sans", sans-serif;
    font-size: 1.5rem;
    justify-items: center;
    white-space: nowrap;

    .contact-icon {
      fill: $theme-white;
    }

    .text {
      @media all and (max-width: $break-medium) {
        display: none;
      }
    }
  }

  .section-contact {
    background-color: $theme-black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: $nav-height;
    justify-content: space-around;
    transition: transform .4s ease-in-out;
    width: 100%;
    z-index: 1000;
  }

  @media screen and (max-width: $break-medium) {
    flex-direction: row;
  }
}

nav + .container {
  margin-top: $nav-height;
}

@keyframes btn-animation {
  0% {
    box-shadow: 10px 10px 0 0 $shadow-color;
    transform: translate(0, 0);
  }

  25% {
    box-shadow: 14px 14px 0 0 $shadow-color;
    transform: translate(-2px, -2px);
  }

  50% {
    box-shadow: 10px 10px 0 0 $shadow-color;
    transform: translate(0, 0);
  }
}

@keyframes btn-animation-hover {
  0% {
    box-shadow: 10px 10px 0 0 $shadow-color;
    transform: translate(0, 0);
  }

  100% {
    box-shadow: 14px 14px 0 0 $shadow-color;
    transform: translate(-2px, -2px);
  }
}

@keyframes btn-animation-active {
  0% {
    box-shadow: 14px 14px 0 0 $shadow-color;
    transform: translate(0, 0);
  }

  100% {
    box-shadow: 8px 8px 0 0 $shadow-color;
    transform: translate(2px, 2px);
  }
}

.btn {
  animation: btn-animation 2s infinite;
  backface-visibility: hidden;
  box-shadow: 10px 10px 0 0 $shadow-color;
  color: $theme-white;
  display: inline-block;
  font-family: 'League Gothic', sans-serif;
  font-size: 2rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 2px;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  transform-style: preserve-3d;
  will-change: transform;

  &:hover {
    animation: btn-animation-hover .3s forwards;
  }

  &:active {
    animation: btn-animation-active .3s forwards;
  }
}

header {
  background: url('../images/lp_banner.svg') no-repeat top left;
  background-size: cover;
  height: 0;
  padding-bottom: 45.0649vw;
  position: relative;
  width: 100vw;

  h1 {
    font-size: 15vw;
    left: (104 / 770) * 100vw;
    line-height: .65;
    position: absolute;
    top: 1vw;
    transform: rotate(-9deg);

    span {
      display: block;
      mix-blend-mode: multiply;
      opacity: 1;
    }

    span:first-child,
    span:last-child {
      color: $theme-red;
      padding-left: 8vw;
    }

    span:nth-child(2) {
      color: $theme-blue;
    }
  }

  h2 {
    align-items: center;
    bottom: 0;
    color: $theme-white;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    height: (116 / 770) * 100vw;
    justify-content: center;
    left: (366 / 770) * 100vw;
    margin: 0;
    position: absolute;
    text-align: center;
    width: (282 / 770) * 100vw;

    span {
      display: block;
    }

    span:last-child {
      font-size: 3rem;
    }
  }

  .logo {
    $size: (116 / 770) * 100vw;
    bottom: 0;
    height: $size;
    left: 0;
    position: absolute;
    width: $size;
  }

  .cta {
    left: calc(#{(485 / 770) * 100vw} - 10px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .btn-cta {
      background: $theme-blue;
    }
  }

  .date {
    display: block;
    font-family: "Fivo Sans", sans-serif;
    font-weight: $font-weight-black;
    left: (467 / 770) * 100vw;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    transform: rotate(-9deg);

    span {
      display: inline-block;
    }

    .day {
      color: $theme-red;
      font-size: 10vw;
    }

    .month {
      color: $theme-white;
      font-size: 6vw;
      height: 100%;
      line-height: 100%;
      margin-left: -20px;
      padding-top: 10px;
      vertical-align: top;
    }
  }
}

.paragraph {
  background: url('../images/lp_paragraph.svg') no-repeat;
  background-size: cover;
  color: $theme-white;
  font-size: 1.6rem;
  line-height: 1.2;
  padding: 5vw 22vw;
  text-align: center;

  .asterisk-spacer {
    $size: 3rem;
    $margin: 1rem;
    margin-top: $margin;
    padding-top: $size;
    position: relative;

    &::before {
      background: url('../images/lp_asterisk.svg') no-repeat;
      background-size: contain;
      content: ' ';
      display: block;
      height: $size - $margin;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: $size - $margin;
    }
  }

  .cta {
    margin-top: 4rem;

    .btn-cta {
      background: $theme-red;
    }
  }
}

.infos {
  padding: 5vw 22vw;

  .section {
    text-align: center;

    a {
      color: $theme-blue;
    }
  }
}

.tickets {
  padding: 5vw 22vw;

  h2 {
    color: $theme-blue;
    text-align: center;
  }

  .pretix-widget {
    border: 0;
    font-size: 1.2rem;

    input[type='number'] {
      font-size: 1.2rem;
    }
  }
}
