---
import BaseLayout from "../layouts/BaseLayout.astro";
import '../css/numbers.scss'
---

<BaseLayout>
  <header>
    <a
      href="/"
    >
      ⟵ zurück zur Startseite
    </a>
  </header>

  <main>
    <img
      class="stats"
      src="/images/stats.jpg"
      alt="Statistics"
      title="Statistics"
    >
  </main>
</BaseLayout>
